.message {

  margin: 10px 0;

  &__content {
    background: #e7fde6;
    width: auto;
    display: inline-block;
    padding: 5px 7px;
    border-radius: 3px;
    word-break: break-word;
    font-size: 0.8em;
  }

}
